.info {
    width: 100%;
    height: 100%;
    background-color:cyan;
    font-family: cursive;
    
}


h1 {
    margin: 0%;
    width: 100%;
    height: 100%;
    font-family: cursive;
    padding: 5px;

}

html, body {
    margin: 0;
    background-color:rgb(5, 128, 243);
}

button {
    margin-left: 46%;
    margin-top: 5%;
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 15px, 26px;
    height: 50px;
    width: 100px;
    border: solid black 4px; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.arrow {
    height: 200px;
    width: 200px;
    margin-left: 43%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    width: 100%;
    height: 75px;
    background-color: cyan;
    align-items: center;
    padding: 15px;
    border: solid black 4px; 
}

li, a  {
    display: flex;
    color: rgb(0, 0, 0);
    text-decoration: none;
    align-items: center;
    font-family: cursive;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

ul {
    display:flex; 
    list-style-type: none;
    margin: 0;
    font-size: 15px;
}

a:hover {
    transform: scale(6);
}

p {
    margin: auto; 
    margin-right: 10px;
    background-color:rgb(5, 128, 243);
}

a {
    width: 10%;
}

.source {
    color: rgb(0, 0, 0);
    padding-left: 15px;
    font-family: cursive;
}

.emoji {
    margin-right: 70%;
    width: 10px;
    height: 10px;
    transition: transform .2s;
}

.emoji:hover {
    transition: transform .2s;
}

button:hover {
    transition: transform .2s;
    background-color: rgb(0, 0, 0);
}

.cat {
    margin-left: 75%;
}

.nyan {
    height: 100px;
    width: 50px;
    margin-top: 10%;
    position: relative;
    animation: mymove 10s infinite;
}

@keyframes mymove {
    from {left: -100px;}
    to {left: 1700px;}
  }

.source {
    background-color: palevioletred;
    border: solid black 5px;
}